@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.Title{
  font-size: x-large;
  font-weight: bold;
  color: #96E6B3;
  text-align: center;
}

.subTitle{
  font-size: medium;
  font-weight: 300;
  text-align: center;

  color: #6e9e6e;
}

.card {
  margin-top: 40px;
  width: auto;

  height: 154px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  min-width: 150px;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 0px 10px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#96E6B3, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.Minutes{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #96E6B3;
  color: #96E6B3;
}
.Minutes::placeholder{
  color: #96E6B3;
}
.Convert{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background-color: #F1FFFA;
}
.Arrow{
  margin-top: 10px;
  fill: #96E6B3;
}
.card-inner{

  display: flex;
  align-items: center;
  justify-content: center;
  color: #96E6B3;

}
.card-inner h1{
  text-shadow:0px 0px 3px rgb(13, 48, 11);
}